nav ul li {
  list-style: none;
  color: white;
  padding-right: 2.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

nav ul {
  display: inline-flex;
  margin-top: 6rem;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
