.background-container {
  width: 100%;
  background-color: #151320;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-inner {
  width: 100%;
  background-color: #151320;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: #fff;
  font-family: "Montserrat";
  font-size: 2.5rem;
  width: 150px;
  background-color: #151320;
  border: 1px solid #0c9dc2;
  border-radius: 10px;
  box-shadow: 0 0 8px #0c9dc2;
  margin-bottom: 2rem;
  cursor: pointer;
}

.main-inner-last {
  width: 100%;
  background-color: #151320;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32rem;
}

.button-home {
  color: #fff;
  font-family: "Montserrat";
  font-size: 2.5rem;
  width: 150px;
  background-color: #151320;
  border: 1px solid #0c9dc2;
  border-radius: 10px;
  box-shadow: 0 0 8px #0c9dc2;
  margin-top: 2rem;
  margin-left: 2rem;
}

.home-content {
  background-color: #151320;
}
